*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style:none;
    text-decoration: none;
    /*color: #333;为什么footer里面的字体会继承这里的属性？*/
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}

body{
    font-size: 12px;
    line-height: 1.2;
    background: #fff;
}
main{
    height:calc(100vh - 50px);

    overflow: scroll;
    /*超出部分滚动效果*/
    overflow-scrolling: touch;
    /*在手机端有弹性效果*/
}
main>section{
    display: none;

}
main>section:first-child{
    display:block;

/*    height:calc(100vh - 50px);*/
}
.item{
    border-bottom: 1px solid #ccc;
    padding: 8px;
}
.item>a{
    display: block;
}
.item>a> .cover{
    float: left;

}
.item>a> .cover>img{
    width: 70px;

}
.item>a> .detail{
    float: left;
    margin-left: 20px;
    color: #999;
    max-width:60vw;
}
.item>a> .detail>h2{
    margin-bottom: 7px;
    color: #000;
}
.item>a> .detail>.extra{
    margin-top: 3px;
}
.item>a> .detail>.extra>.score{
    color: orangered;
}

.loading{
    text-align: center;
    padding: 5px;
    display: none;
}
.loading .iconfont{
    display: inline-block;
    animation:2s rotate linear infinite;

}
@keyframes rotate{
    0%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);}
}
footer{
    /*position: absolute;*/
    height: 50px;
    align-content: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: white;
    border-top: 1px solid #ccc;

}
footer>div{
    flex: 1;
    text-align: center;

}
footer>div.active{
    color: #ff5722;
}
footer>div>span{
    display: block;
}